
@keyframes ldio-rwkcudhalk-1 {
  0% { top: 36px; height: 128px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-rwkcudhalk-2 {
  0% { top: 41.99999999999999px; height: 116.00000000000001px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-rwkcudhalk-3 {
  0% { top: 48px; height: 104px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
.ldio-rwkcudhalk div { position: absolute; width: 30px }.ldio-rwkcudhalk div:nth-child(1) {
  left: 35px;
  background: #353535;
  animation: ldio-rwkcudhalk-1 1.1627906976744184s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.23255813953488372s
}
.ldio-rwkcudhalk div:nth-child(2) {
  left: 85px;
  background: #666666;
  animation: ldio-rwkcudhalk-2 1.1627906976744184s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.11627906976744186s
}
.ldio-rwkcudhalk div:nth-child(3) {
  left: 135px;
  background: #9b9b9b;
  animation: ldio-rwkcudhalk-3 1.1627906976744184s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-xzurliw6ad {
  width: 200px;
  height: 200px;
  display: block;
  overflow: hidden;
  background: transparent;
  margin: 0 auto;
}
.ldio-rwkcudhalk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rwkcudhalk div { box-sizing: content-box; }
